<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>scrape mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>
    <div class="row">
      <div class="col -md-12">
        <h2>Latest Mars News</h2>
      </div>
    </div>
    <div class="row">
      <div class="col -md-12">
        <h3>{{mars.latest_title}}</h3>
        <p>{{mars.latest_p}}</p>
      </div>
     </div>
    <div class="row">
    <div class="col -md-8">
      <h4>Featured Mars Image</h4>
      <img src="{{mars.featured_image}}">
    </div>
    </div>
    <div class="col -md-8">
      <h4>Mars Facts</h4>
      <table class="table table-striped">{{mars.mars_facts|safe}}</table>
    </div>
    <div class="row">
    {% for hemi in mars.hemispheres %}
    <div class="col -md-6">
      <img src="{{hemi.img_url}}" alt="">
      <h4>{{hemi.title}}</h4>
    {% endfor %}
    </div>
    </div>
  </div>
</body>

</html>

<!-- <body>

    <h1>MARS EXPLORATION</h1>
    <br>
    <h3>These are the available Routes to Mars:</h3>
    <br>
    <ul>
        <li><h4><a href="/scrape"> scrape </a></h4></li>

    </ul>
    <main class="container">
      <div class = "row">
       <div class = "col-md-8 col-sm-12">

         <div class="card" style="width: 200rem;">
          <div class="card-body">
            <p><h4 class="card-title">Search <a href="https://mars.nasa.gov/news/">HERE</a> for latest news info!</p>
            <h6 class="card-subtitle mb-2 text-muted">You have four options</h6>
            <p class="card-text">Click <a href="table.html">HERE</a> for Mars Facts</p>
            <br>
          </div>
        </div>
    </div>
  </div>
  <div>
    <div class = "row">
      <a href="https://spaceimages-mars.com/image/featured/mars1.jpg">Search<img id="featured-image" src="images/featured image.PNG'" alt="Featured Image"></a>
    </div>
    <div class = "row">
      <div class = "col-md-6 col-sm-12">
       <a href="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg"><img id="cerberus-image" src="images/cerberus hemisphere.PNG" alt="Cerberus Hemisphere"></a>
      </div>
    </div>
      <div class = "row">
      <div class = "col-md-6 col-sm-12">
        <a href="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg"><img id="schiaparelli-image" src="schiaparelli hemisphere.PNG" alt="Schiaparelli Hemisphere"></a>
      </div>
    </div>
    <div class = "row">
      <div class = "col-md-6 col-sm-12">
        <a href="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg"><img id="syrtis-image" src="syrtis_major hemisphere.PNG" alt="Syrtis Major Hemisphere"></a>
      </div>
    </div>
      <div class = "row">
        <div class = "col-md-6 col-sm-12">
        <a href="https://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg"><img id="valles-image" src="valles_marineris.PNG" alt="Valles Marineris Hemisphere"></a>
      </div>
    </div>

  </div>
 
</body> 

</html> -->